body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,159,255,1) 27%, rgba(0,212,255,1) 100%);
  margin-top: 3em;
}

.publication .user {
  font-weight: bold;
}

.publication .timestamp {
  font-style: italic;
}

.publication {
  margin-top: 1em;
  margin-bottom: 1em;
}

.publication_text {
  font-size: larger;
}
.profile {
  text-align: right;
}

.profile_name {
  font-size: 2rem;
}

.login-ctn {
  margin: 0 50%;
}

.login-form > div {
  padding: 1em 0;
}

.login-container {
  max-width: 35%;
  margin: auto;
}
