<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Social network</title>
    <link rel="stylesheet" href="public/socialnetwork.css">
</head>

<body>
    <div class="profile_user" th:text="${profileUser.getName()}">Profile user name</div>
    <p>Description:</p>

    <div class="pofile_desc" th:text="${profileUser.getDescription()}">Profile description</div>
    <button>Add friend</button>

    <h2>Últimas publicaciones</h2>
    <div class="publications">
        <div class="publication" th:each="publication : ${publications}">
            <div class="publication_meta">
                <span class="user" th:text="${publication.getUser().getName()}">Pepe</span>
                <span class="publication_restricted" th:if="${publication.isRestricted()}">restricted</span>
                <span class="publication_public" th:if="${!publication.isRestricted()}">public</span>
                <span class="timestamp" th:text="${publication.getTimestamp()}">15 de marzo de 2021</span>
            </div>
            <div class="publication_text" th:text="${publication.getText()}">
                El texto del mensaje
            </div>
        </div>
    </div>
</body>

</html>